main {
    min-height: 90vh!important;
}
html{
    height: 100vh;
}
.star-rating .fa {
    color: #ddd; /* Gray color for empty stars */
}

.star-rating .fa.checked {
    color: #ffc107; /* Gold color for filled stars */
}
